@font-face {
  font-family: "Original Burger Font";
  src: url("./assets/OriginalBurgerFont/OriginalBurger-Regular.otf")
    format("truetype");
}

* {
  padding: 0;
  margin: 0;
  list-style: none;

}


